Routing entry for {{entry_ipv6}}
  Known via "ospf {{ospf_area}}", distance {{ospf_dist}}, metric {{ospf_metric}}, type intra area
  Route count is 1/1, share count 0
  Routing paths:
    {{int_ipv6}}, {{speed_class}}{{int_num}}
      Last updated {{time}} ago
    
